@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .text {
            color: blue;
            position: absolute;
            top: 100px
            
        }
    </style>
</head>
<body>

    <h3 class="text">
        <p>
            Ngày nay công nghệ thông tin đã phát triển với tốc độ nhanh chóng.
            Công nghệ thông tin đã được ứng dụng trong nhiều lĩnh vực như nghiên cứu khoa học,
            phát triển kinh tế quân sự và trong nhiều loại hình nghệ thuật khác nhau.
            Do vậy, công tác quản lý kho hàng là một công tác không thể thiếu của tất cả các tổ chức về kinh tế.
            Với các lý do ấy thì phát triển công nghệ thông tin trở thành một ngành kinh tế quan trọng,
            đặc biệt là phát triển phần mềm. Sự ra đời của các sản phẩm phần mềm đặc biệt là các 
            phần mềm ứng dụng như quản lý kho hàng trong vài năm gần đây mang lại nhiều thuận lợi
            trong công tác qản lý hàng hóa tránh được sự thất thu, mất mát.
        </p>
        <p>
            Thông tin về các mặt hàng được biến đổi hàng ngày mà sổ sách của một người thủ kho lại không
            thể cập nhật nhưng thông tin đó một cách chính xác được, hoặc nếu có thì việc đó rất mất thời gian.
            Lý do trên cho thấy việc xây dựng một hệ thông thông tin quản lý kho hàng trên máy tính là vô cùng
            tiện lợi, đáp ứng nhanh và hiệu quả các yêu cầy tập hợp hàng nhập, hàng xuất,tra cứu, tìm kiếm
            và thống kê được số lượng chính xác số hàng còn lại trong kho một cách nhanh chóng.
        </p>
        <p>
            Hệ thống quản lý kho hàng giày thể thao là nơi để người dùng có thể theo dõi được hoạt động nhập hàng,
            xuất hàng, số hàng tồn kho, đơn giá của từng mặt hàng, nhà cung cấp các mặt hàng.
        </p> 
    </h3>
    <img src="~/Ảnh/6111326.jpg" height="550" width="1200" />

</body>
</html>
