@{
    ViewBag.Title = "About";
}
<h1> Hệ thống quản lý kho hàng giày thể thao là nơi để người dùng có thể theo dõi được hoạt động nhập hàng,
    xuất hàng, số hàng tồn kho, đơn giá của từng mặt hang, nhà cung cấp các mặt hàng</h1>
