@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .text {
            color: blue;
            position: absolute;
            top: 100px
        }
    </style>
</head>
<body>

    <h3 class="text">
        <p>Liên hệ trang của tôi</p> 

        <p>
            HUMG<br />
            
            <abbr title="Phone">Điện thoại liên hệ:</abbr>
            1900.9009
        </p>

        <p>
            <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
        </p>

    </h3>
    <img src="~/Ảnh/6111326.jpg" height="550" width="1200" />

</body>
</html>