@{
    ViewBag.Title = "Contact";
}
<h2> Liên hệ trang của tôi </h2>

<address>
    HUMG<br />
    Trường Đại học Mỏ - Địa chất<br />
    <abbr title="Phone">Điện thoại liên hệ:</abbr>
    1900.9009
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
</address>